.root {
    li {
      display: inline-flex;
      margin-right: 10px;

      a {
        color: #fc7a23;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 40px;
        height: 40px;
        padding: 10px;
        border: 1px solid #fc7a23;
        border-radius: 30px;
        cursor: pointer;

        &:hover {
          background: #fc7a23;
          color: #fff;
        }
      }
    }

  :global {
    .selected {
      a { background: #fc7a23;
      color: #fff;
      }
    }
  }
}